.vscode
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.idea
*.iml
node_modules
public/build.txt
npm-debug.log
public/static
public/asset-manifest.json
public/favicon.ico
public/index.html
docker.console
client/docker.console